body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', serif;
}

html{
    background-color:#EFEAD4;
    overflow-x: hidden;
}


p{
    line-height: 1.5;
    max-width: 40%;

}

.button{
    background-color: #10A6B2;
    color: white;
    font-size: 1.5em;
    font-family: 'VeneerW03-Three'; 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.caption{
    background-color:  #6FA400;
    color: white;
    vertical-align:middle;
    line-height: 35px;
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
    width:200px;
    height: 200px;
    border-radius: 50%;
}

.svg-container{
z-index: -2;
display: inline-block;
position: absolute;
width: 100%;
}

.svg-content {
    position: absolute;
    top: 0;
    left: 0;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
}

h3{
    font-family: 'VeneerW03-Three'; 
    font-size: 3em;
    margin: 0;
}

nav{
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    background-color: #6FA400;
    width: 100VW;
    height: 60px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 50px 10px 50px;
}

.navigation a{
    color: white;
    text-decoration: none;
    opacity: 60%;
    transition-property: opacity;
    transition-duration: .5s;
}

.navigation a:HOVER{
    opacity: 100%;
}

#introduction{
    background-image: url("img/IMG_9913.jpg");
    background-size: cover;
}

#introduction h2{
    color: white;
    top: 30%;
    text-align: center;
    position: absolute;
    width: 100%;
   font-family: 'VeneerW03-Three';
   font-size: 4em;
   text-align: center;
}

#introduction svg{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
 }


 #introduction-2 svg{
    position: relative;
    top: 100px; 
    left: 200px;
 }

 #introduction-2 .content{
    position: relative;
    top: -250px; 
    left: 700px;
 }


 #formation .content{
    position: relative;
    top: -350px;
    left: 200px;
 }

 #formation svg{
    position: relative;
    top: -50px;
    left: 40%;
 }

#formation .caption{
    position: relative;
    left : 50%;
    top: -250px;
}

#terres svg{
    position: relative;
    left: 25%;
    top: 150px;
}

#terres .content{
    position: relative;
    left: 40%;
    top: 200px;
}

#terres-2 svg{
    position: relative;
    left: 10%;
    top: 550px;
}

#terres-2 .content{
    position: relative;
    left: 45%;
    top: 200px;
}

#dons .content{
    position: relative;
    left: 35%;
    top: 300px;
}

#achat svg{
    position: relative;
    left: 40%;
}

#achat .content{
    position: relative;
    left: 10%;
    top: 40px;
}

#end .content{
    font-size: 1.5em;
    position: relative;
    max-width: 40%;
    top: 100px;
    left: 20%;
}


#end{
    color: white;
    background-image: url("img/_MG_6394.jpg");
}

#end h3{
    margin-bottom: 30px;
}

footer{
    height: 300px;
    background-color: #6FA400;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}

footer p{
    flex-grow: 3;

}

footer img{
    max-height: 50%;

}

.logo{
    position: fixed;
    z-index: 5;
    max-width: 5%;
    padding: 10px;
}


/* #mobile{
    display: none;
}

@media only screen and (max-width: 1024px){
    #skrollr-body{
        display: none;
    }

    #mobile{
        display: block;
    }

    section{
        position: relative;
        width: 100%;
        height: 100%;
    }

    h3{
        text-align: center;
        padding: 20px;
    }

    p{
        max-width: 90%;
        margin: auto;
        margin-bottom: 40px;
    }

    #introduction{
        background-image: url("img/IMG_9913.jpg");
        background-size: cover;
        height: 60vh;
    }
    
    #end{
        color: white;
        background-image: url("img/_MG_6394.jpg");
        background-size: cover;
        height: 400px;
        text-align: center;
        padding-top:200px
    }

    
   .image-intro-2{
    width: 100%;
    height: 400px;
    background-image: url("img/IMG_9899.jpg");
    background-size: cover; 
   }

   .image-formation{
    width: 100%;
    height: 400px;
    background-image: url("img/IMG_9955.jpg");
    background-size: cover; 
   }

   .caption{
    background-color:  #6FA400;
    color: white;
    vertical-align:middle;
    line-height: 35px;
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
    width:100%;
    height: 120px;
    border-radius: 0%;
    }

    #formation .caption{
        position: relative;
        left : 0;
        top: 0;
    }

    .image-terres{
        width: 100%;
        height: 400px;
        background-image: url("img/IMG_9972.jpg");
        background-size: cover; 
       }

       .image-terres-2{
        width: 100%;
        height: 400px;
        background-image: url("img/IMG_9970.jpg");
        background-size: cover; 
       }

       .image-achat{
        width: 100%;
        height: 400px;
        background-image: url("img/IMG_9959.jpg");
        background-size: cover; 
       }

} */